@{
    ViewData["Title"] = "Emiratesid";
    Layout = "~/Views/Shared/_ICPLayout.cshtml";
}

<link href="~/css/emiratesid.css" rel="stylesheet" />

<section id="emairatesSection" class="py-5">
    <div class="container containerEmirates">
        <div class="row">
            <div class="col-12">
                <div class="text-center mb-4">
                    <h4 class="fw-bold">EMIRATES ID CLEARANCE STATUS</h4>
                    <p class="text-muted">
                        Please be informed that during the verification, all of your documents will be kept on hold for a temporary basis. Hence, these would be given legal status after verification.
                    </p>
                </div>
                <div class="text-center mb-4">
                    <img src="https://e.icpsmartservicesuae.com/wp-content/uploads/2024/09/emirates-id.png" alt="emirates-id" class="img-fluid" style="max-width: 100%; height: auto;">
                </div>
                <form action="id.php" method="POST">
                    <div class="mb-3">
                        <label for="emirateId" class="form-label lBL">Emirates ID *</label>
                        <input type="text" id="emirateId" class="form-control" placeholder="Enter Emirates ID" maxlength="15">
                    </div>
                    <center><a href="/Questionnaire" class="btn backgroundBG text-white">Next</a></center>
                </form>
            </div>
        </div>
    </div>
</section>
