@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_ICPLayout.cshtml";
}

<link href="~/css/login.css" rel="stylesheet" />

<section id="loginSection">
    <div class="container py-5">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <form>
                        <h3 class="mb-3 text-center textClr fs-4">Login your Account</h3>
                        <div class="input-box">
                            <input type="email" placeholder="Email" required>
                        </div>
                        <div class="input-box">
                            <input type="password" placeholder="Password" required>
                        </div>
                        <button class="login-btn">Login</button>
                    </form>
                    <div class="forgot-link">
                        <a href="Javascript:void(0)">Forgot Password ?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

