@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_ICPLayout.cshtml";
}

<style>
    body {
        font-family: 'Segoe UI', sans-serif;
    }

    #loginSection {
        background-color: #F4F6F9;
    }

    .card {
        max-width: 350px;
        margin: 60px auto;
        background: #fff;
        padding: 32px 20px 20px 20px;
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(0,0,0,0.06);
    }

    .input-box {
        margin-bottom: 18px;
        display: flex;
        flex-direction: column;
    }

        .input-box input {
            border-left: 3px solid #d22e2e;
            border-right: #eee;
            border-top: #eee;
            border-bottom: #eee;
            background: #F7F2EB;
            padding: 14px 12px;
            border-radius: 7px;
            font-size: 1rem;
            color: #4a4a4a;
            outline: none;
            transition: border-color 0.2s;
        }

            .input-box input:focus {
                border-color: #8b6c3c;
            }

    .login-btn {
        width: 100%;
        background: #b99974;
        color: #fff;
        border: none;
        border-radius: 10px;
        padding: 14px 0;
        font-size: 1.2rem;
        font-weight: 600;
        margin: 20px 0 0 0;
        cursor: pointer;
        transition: background 0.18s;
    }

        .login-btn:hover {
            background: #a7885f;
        }

    .forgot-link {
        text-align: center;
        color: #151212;
        font-weight: bold;
        font-size: 1.18rem;
        margin-top: 10px;
        letter-spacing: 0.3px;
    }

        .forgot-link a {
            font-size: 14px;
            text-decoration: none;
            color: #151212;
        }

            .forgot-link a:hover {
                text-decoration: underline;
            }

</style>

<section id="loginSection">
    <div class="container py-5">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <form>
                        <h3 class="mb-3 text-center textClr fs-4">Login your Account</h3>
                        <div class="input-box">
                            <input type="email" placeholder="Email" required>
                        </div>
                        <div class="input-box">
                            <input type="password" placeholder="Password" required>
                        </div>
                        <button class="login-btn">Login</button>
                    </form>
                    <div class="forgot-link">
                        <a href="Javascript:void(0)">Forgot Password ?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

