
@{
    ViewData["Title"] = "VerificationCategories";
    Layout = "~/Views/Shared/_ICPLayout.cshtml";
}

<style>
    #verificationCategoriesSection {
        background-color: #F4F6F9;
    }
</style>

<section id="verificationCategoriesSection">
    <div class="container py-5">
        <div class="row">
            <div class="col-12">
                <h5 class="textClr">Please Note that verification is only available for these categories. Click any of the category below to start verification.</h5>
                <div class="list-group">
                    <a href="/VerificationCategory" class="text-black text-decoration-none"> → Citizen</a>
                    <a href="/VerificationCategory" class="text-black text-decoration-none"> → UAE Residents</a>
                    <a href="/VerificationCategory" class="text-black text-decoration-none"> → GCC Citizens</a>
                    <a href="/VerificationCategory" class="text-black text-decoration-none"> → GCC Residents</a>
                    <a href="/VerificationCategory" class="text-black text-decoration-none"> → Visitors</a>
                </div>
            </div>
        </div>
    </div>
</section>

